<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Base.ttf</string> <!-- PostScript name: WDXLLubrifontTC-Regular -->
		<string>H1.ttf</string> <!-- PostScript name: RubikMarkerHatch-Regular -->
		<string>H2.ttf</string> <!-- PostScript name: RubikDistressed-Regular -->
		<string>H3.ttf</string> <!-- PostScript name: RubikGlitch-Regular -->
		<string>Logo.ttf</string> <!-- PostScript name: Underdog-Regular -->
		<string>Name.ttf</string> <!-- PostScript name: Gabriela-Regular -->
	</array>
</dict>
</plist>
